.about {
    text-align: center;
    padding: 50px 30px 100px;
    color: var(--color-main-black);
    background-color: var(--bg-main-grey);
}

.about-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 42px 0;
}

.about-subtitle-uk,
.about-subtitle-en,
.about-description-uk,
.about-description-en {
    font-size: 18px;
    font-weight: 500;
    max-width: 780px;
    margin: 0 auto 15px;

}

.about-description-uk,
.about-description-en {
    text-align: justify;
}

.about-subtitle-en {
    margin: 15px auto 15px;
}

.about-description-en {
    margin: 0 auto;
}

@media (max-width: 480px) {
    .about-subtitle-uk,
    .about-subtitle-en,
    .about-description-uk,
    .about-description-en {
        font-size: 14px;
        margin: 0 auto 15px;
    }
}