.history-section {
    padding: 65px 0 70px;
    text-align: center;
    color: var(--color-main-black);
}

.history-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 74px;
}

.history-img {
    width: 100%;
    max-width: 950px;
    height: 655px;
    object-fit: cover;
    margin-bottom: 30px;
}

.history-description {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .history-section {
        padding: 50px 0 70px;
    }

    .history-img {
        height: 480px;
    }

    .history-description {
        font-size: 14px;
    }

}